﻿<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header logo">
            <img src="assets/images/logo.png" alt="logo" />
        </div>
        <div class="col-md-1 hidden-xs"></div>
        <ul class="nav navbar-nav">
            <li><a>All tsaks: 5<span></span></a></li>
            <li>
                <a>
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Time for all tasks: <span>8:59</span>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right filter-links">
            <li class="col-xs-6" title="Show all times up tasks">
                <a id="endTimeTasks">
                    <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                </a>
            </li>
            <li class="col-xs-6" title="Show all done tasks">
                <a id="doneTasks">
                    <i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i>
                </a>
            </li>
        </ul>

    </div>
</nav>