﻿.navbar {
  background-color: #F9F9F9;
}
.navbar {
  box-shadow: 0 0 10px;
}
.nav.navbar-nav a {
  font-size: 20px;
}
.logo {
  text-align: center;
}
.logo img {
  width: 70px;
  height: 70px;
}
.filter-links li {
  text-align: center;
}
#endTimeTasks, #doneTasks {
  transition: all .5s;
}
#endTimeTasks:hover {
  color: #FF6347;
}
#doneTasks:hover {
  color: #32CD32;
}