﻿<div class="shadow-wrap">
    <div id="formCreateTask" class="center-block col-xs-9 col-sm-6 col-md-6" style="float:none;">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" novalidate>
            <fieldset>
                <legend>Adding new task</legend>
                <div class="form-group">
                    <label>What need to do?</label>
                    <input formControlName="taskName" name="taskName" id="nameTask" type="text" class="form-control" placeholder="Enter task..">
                    <span class="help-block">Text should be more than 4 characters</span>
                </div>
                <div *ngIf="taskName.invalid && taskName.dirty" class="alert alert-danger">
                    {{ formErrors.nameError }}
                </div>
                <div class="form-group">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <label>How long does the task take?</label>
                    <input formControlName="taskDuration" name="timeTask" id="timeTask" type="time" class="form-control" max="12:00" min="00:01" placeholder="Enter task..">
                    <span class="help-block">Time must be from 1 minute to 12 hours</span>
                    <div *ngIf="taskDuration.invalid && taskDuration.touched" class="alert alert-danger">
                        {{ formErrors.timeError }}
                    </div>
                </div>
                <button id="submitBtn" type="submit" class="btn btn-success" [ngClass]="{disabled: taskForm.invalid}">Create task</button>
            </fieldset>
        </form>
    </div>
</div>