﻿/*Form for new Task*/
#formCreateTask {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 30%;
    background-color: mintcream;
}

    #formCreateTask input[type="time"] {
        width: 30%;
    }

.shadow-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 9999;
}
