﻿.content {
  height: 100vh;
  margin-top: 70px;
}
.add-task-column {
  position: fixed;
  height: 100vh;
  padding-top: 20px;
  border-right: 2px solid #E0E0E0;
  background-color: #F9F9F9;
}
.add-task {
  cursor: pointer;
  text-align: center;
}
.add-task img {
  max-width: 40px;
}
.add-task img[alt="hover_add"] {
  display: none;
}
.add-task:hover img[alt="default_add"] {
  display: none;
}
.add-task:hover img[alt="hover_add"] {
  display: inline-block;
}
#task {
  padding-top: 20px;
  margin-bottom: 25px;
}
.task-done,
.task-time,
.task-remove {
  text-align: center;
  border-radius: 15px;
  transition: all .5s;
}
.task-done,
.task-remove {
  cursor: pointer;
  font-size: 15px;
}
.task-done:hover,
.task-remove:hover {
  font-size: 15px;
  font-weight: bold;
}
.task-done:hover {
  background-color: #32CD32;
}
.task-remove:hover {
  background-color: #E0E0E0;
}
.fa-circle {
  color: #32CD32;
}
.time-running-out .fa-circle {
  color: #FF8C00;
}
.time-running-out .task-time {
  background-color: #FF8C00;
}
.time-failed .fa-times-circle-o {
  color: #FF6347;
}
.time-failed .task-time {
  background-color: #FF6347;
}