﻿<div class="container-fluid content">
    <div class="row">
        <div class="col-xs-2 col-sm-1 col-md-1 add-task-column">
            <div (click)="openForm()" class="add-task" title="Add new task">
                <img src="assets/images/default_add.svg" alt="default_add" />
                <img src="assets/images/hover_add.svg" alt="hover_add" />
            </div>
        </div>

        <div *ngFor="let task of taskList" [attr.data-id]="task.Label" id="task" class="col-xs-8 col-sm-6 col-md-5 col-md-offset-3 col-sm-offset-2 col-xs-offset-1">
            <h3>
                <i class="fa fa-circle" aria-hidden="true"></i>
                <span>{{task.Name}}</span>
            </h3>
            <div class="col-xs-11 col-md-3">
                <div class="task-done" [title]="task.Label">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i> Done!
                </div>
            </div>
            <div class="col-xs-11 col-md-4 col-md-offset-2">
                <div class="task-time">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> Today: <span>{{task.Expired}}</span>
                </div>
            </div>
            <div class="col-xs-11 col-md-3">
                <div class="task-remove" [title]="task.Label">
                    <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
                </div>
            </div>
        </div>
    </div>
</div>

<new *ngIf="settingsService.isFormOpen"></new>