/* font-family: "GothamProRegular"; */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
* {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', Arial, sans-serif;
  letter-spacing: 0.5px;
}
body {
  min-width: 320px;
  background: linear-gradient(to left, #FFA07A, #40E0D0);
}
a {
  cursor: pointer;
}